body {
    font-family: Arial, sans-serif;
    background-color: #111111; /* Dark Blue background */
    color: white;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FF8C00; /* Dark Orange container background */
}

h1 {
    text-align: center;
    font-size: 36px;
}

h1 span.orange {
    color: #FF8C00; /* Dark Orange */
}

h1 span.blue {
    color: #0000FF; /* Dark Blue */
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid white;
}

th {
    background-color: #222222;
}

tr:nth-child(even) {
    background-color: #333333;
}

tr:nth-child(odd) {
    background-color: #444444;
}

td:last-child {
    font-weight: bold;
}

.balance-positive {
    color: #FF8C00; /* Dark Orange */
}

.balance-negative {
    color: #0000FF; /* Dark Blue */
}


@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
    table {
        font-size: 14px;
    }
}

/* Button Styles */
button {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    border-radius: 1px;
    margin-right: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

#calculate {
    background-color: #0000FF; /* Dark Blue */
    color: white;
    border: 2px solid #FF8C00; /* Dark Orange */
    
}

#calculate:hover {
    background-color: white;
    border-color: #0000FF; /* Dark Blue */
    color: #0000FF;
    transform: translate(0, -2px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

#clear {
    background-color: red;
    color: white;
    border: 2px solid red;
}

#clear:hover {
    background-color: white;
    color: red;
    transform: translate(0, -2px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

#submit{
    background-color: #0000FF; /* Dark Blue */
    color: white;
    border: 2px solid #FF8C00; /* Dark Orange */
}


#submit:hover {
    background-color: white;
    border-color: #0000FF; /* Dark Blue */
    color: #0000FF;
    transform: translate(0, -2px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}